.sty-swi{
	margin-top: 35px;
	position: fixed;
	padding-top: 20px;
	right: 0;
	z-index: 10;
	background-color: #ffffff;
	padding: 15px;
	border:1px solid #d4d4e3;
	border-right: none;
	border-radius: 0 0 0 5px;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
body.dark .sty-swi,
body.dark .sty-swi .t-s-s{
	background-color: #222222;
}
body.dark .sty-swi h5
{
	color: #ffffff;
	border-color: #393939;
}
body.dark .sty-swi .t-s-s,
body.dark  .sty-swi,
body.dark .sty-swi .t-s-s .fa{
	border-color: #393939;
}
body.dark .sty-swi label{
	color: #ffffff;
}
.sty-swi.open{
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}
.sty-swi h5{
	font-size: 16px;
	color: #302e4d;
	margin-top: 0;
	padding-bottom: 5px;
	border-bottom:1px solid #d4d4e3;
	margin-bottom: 8px;
}
.sty-swi ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.sty-swi ul li{
	display: inline-block;
}
.sty-swi ul li a{
	height:30px;
	width:30px;
	display: block;
	border-radius: 50%;
	cursor: pointer;
	text-decoration: none;
	margin-right: 2px;

}
.sty-swi .t-s-s{
	position: absolute;
	height: 45px;
	width:45px;
	background-color:#ffffff;
	left: -46px;
	top:-1px;
	border:1px solid #d4d4e3;
	border-right: none;
	text-align: center;
	cursor: pointer;
	border-radius:50% 0 0 50%;

}
.sty-swi .t-s-s .fa{
		font-size: 20px;
		line-height: 43px;
}