.aside .logo a::before{
	border-top: 4px solid #ffb400;
	border-left: 4px solid #ffb400;
}
.aside .logo a::after{
	border-bottom:  4px solid #ffb400;
	border-right: 4px solid #ffb400;
}
body.dark .aside .nav li a:hover,
.aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a.active,
body.dark .sty-swi .t-s-s .fa,
.sty-swi .t-s-s .fa,
.sty-swi .t-s-s-dow a .fa,
body.dark .sty-swi .t-s-s-dow a .fa{
	color: #ffb400;
}
.home .intro .social-link a{
	background-color: #ffb400;
}
.cp{
	color:#ffb400;
}